@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Inicio del header */
header.header {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 12px;
    color: #122140;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.nav-link{
    color: #030301;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: #fc540d;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

.hablemos{
    font-size: 12px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease;
}
/* Fin del header */


/* Inicio del hero */
.hero{
    background-color: #efdfd2;
}

.nombre-apellido{
    color: #fc540d;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    margin-top: 30px;
    font-weight: bold;
}

.desarrollador-nombre{
    color: #030301;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
}

.redes{
    text-align: center;
    word-spacing: 10px;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 12px;
    line-height: 50px;
    text-decoration: none;
}

.nav-link-hero{
    color: #030301;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
}

.imagen-flecha{
    width: 18px;
    transform: translate(-20px, -2px);
}

.contenedor-presentacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    height: auto;
    padding: 50px 10px;
    margin-left: -120px;
    margin-right: -120px;
}

.mi-presentacion{
    flex: 1;
    margin-top: 80px;
    padding-left: 0; /* Mueve el contenido hacia la izquierda */
}

.mi-presentacion p{
    max-width: 350px;
    color: #87878c;
    font-family: sans-serif;
    font-size: 18px;
}

.boton-contratame{
    background-color: #fc540d;
    color: #fffdf4;
    border: none;
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Helvetica';
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

.boton-contratame:hover{
    background-color: #fffdf4;
    color: #fc540d;
    border: 2px solid #fc540d;
}

.imagen-flecha-boton{
    width: 15px;
    transform: translate(5px, -1px);
}

.foto-perfil-flexbox{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.foto-perfil{
    outline: 2px solid #fc540d;
    outline-offset: 7px;
    border-radius: 50%;
    width: 600px;
    height: 600px;
}

.contenedor-info{
    flex: 1;
    margin-top: 60px;
}

.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    text-align: center;
}

.info-numero{
    font-family: Helvetica;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.info-texto{
    margin-left: 30px;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
}

.contenedor-puntuacion{
    width: 300px;
    height: 180px;
    position: relative;
    bottom: 180px;
    padding: 10px 10px;
    margin-left: -120px;
    margin-right: -120px;
}

.imagen-clutch img{
    width: 90px;
    height: auto;
    margin-bottom: -25px;
}

.imagen-estrella img{
    width: 22px;
    height: auto;
    margin-bottom: 5px;
}

.opinion-texto{
    margin-top: -1px;
}

.opinion-texto p{
    color: #87878c;
    font-family: Helvetica;
    font-size: 15px;
}
/* Fin del hero */


/* Inicio de servicios */
.servicios{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 50px 90px;
}

.servicios-header{
    align-self: flex-start;
    margin-bottom: 20px;
    width: 30%;
    margin-left: 90px;
    margin-top: 30px;
}

.servicios-header h1{
    margin-bottom: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.servicios-descripcion{
    align-self: flex-start;
    margin-left: 20px;
    width: 100%;
    margin-bottom: 20px;
    color: #87878c;
    font-family: Helvetica;
    font-size: 18px;
    position: relative;
}

.servicios-lista{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    width: 50%;
}

.servicio-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 30px;
    font-size: 1.2em;
    padding: 10px 0;
}

.num{
    color: #030301;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}

.nombre-servicio{
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    text-align: start;
    margin-left: 18%;
    flex: 1;
}

.boton-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.boton-servicio{
    border: transparent;
    background-color: #fc540d;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 1px;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.boton-servicio:hover{
    background-color: #fffdf4;
    color: #fc540d;
    border: 2px solid #fc540d;
}

.texto-explorar{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.servicio-item img{
    width: 50px;
    height: 50px;
}

.servicios-lista hr{
    border: 0;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
    width: 100%;
}
/* Fin de servicios */


/* Inicio de skills */
.skills{
    background-color: #efdfd2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 50px 90px;
}

.skills-header{
    align-self: flex-start;
    margin-bottom: 20px;
    width: 30%;
    margin-left: 90px;
    margin-top: 30px;
}

.skills-header h1{
    margin-bottom: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.skills-descripcion{
    align-self: flex-start;
    margin-left: 20px;
    width: 100%;
    margin-bottom: 20px;
    color: #87878c;
    font-family: Helvetica;
    font-size: 18px;
    position: relative;
}

.habilidades{
    width: 100%;
    margin-top: 60px;
}

.habilidades h2{
    margin-bottom: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.imagenes-skills{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 113%;
    margin-top: 20px;
    gap: 10px;
}

.imagenes-skills img{
    width: 40px;
    height: 40px;
    margin: 10px;
    flex: 1 1 30%;
}

.imagenes-skills-caja{  
    background-color: #f4eae1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    flex: 0 0 calc(33.33% - 30px);
}

.imagenes-skills-caja img{
    width: 50%;
    height: auto;
    margin: 0;
}

.imagenes-skills-caja p{
    margin: 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.experiencia-lista{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    width: 50%;
}

.experiencia-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 30px;
    font-size: 1.2em;
    padding: 10px 0;
}

.fechas-contenedor{
    border: 1px solid black;
    background-color: #f5f5f5;
    border-radius: 25px;
}

.fechas{
    color: #030301;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.ocupacion{
    color: #030301;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-align: start;
    margin-left: 18%;
    flex: 1;
}

.plataforma{
    color: #030301;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}

.experiencia-lista hr{
    border: 0;
    height: 2px;
    background-color: #000;
    margin: 20px 0;
    width: 100%;
}
/* Fin de skills */


/* Inicio de trabajos */
.works{
    background-color: #f4eae1;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 50px 90px;
}

.trabajos-header{
    align-self: flex-start;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 90px;
    margin-top: 30px;
}

.trabajos-header h1{
    margin-bottom: 40px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.imagenes-trabajos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imagenes-trabajos-caja{
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;  
    width: calc(33.33% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagenes-trabajos-caja img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.boton-trabajos{
    background-color: #fc540d;
    color: #fffdf4;
    border: none;
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Helvetica';
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
}

.boton-trabajos:hover{
    background-color: #fffdf4;
    color: #fc540d;
    border: 2px solid #fc540d;
}

.imagen-flecha-boton-trabajos{
    width: 15px;
    transform: translate(-5px, 3px);
}
/* Fin de trabajos */


/* Inicio de reviews */
.reviews{
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 50px 90px;    
}

.reviews-header{
    align-self: flex-start;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 90px;
    margin-top: 30px;
}

.reviews-header h1{
    margin-bottom: 40px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.opinion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor-opiniones{
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-sizing: border-box;  
    width: calc(33.33% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagen-perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: -92px;
}

.informacion-persona{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 2px;
}

.nombre-persona-opinion{
    font-weight: bold;
    margin-bottom: -15px;
}

.ocupacion-persona-opinion{
    font-style: italic;
    margin-bottom: -1px;
}

.texto-opinion{
    text-align: start;
    font-family: 'Helvetica';
    font-size: 12x;
}
/* Fin de reviews */


/* Inicio de novedades */
.novedades{
    background-color: #f4eae1;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 50px 90px;
}

.novedades-header{
    align-self: flex-start;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 90px;
    margin-top: 30px;
}

.novedades-header h1{
    margin-bottom: 40px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.contenedor-novedades{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.novedad{
    display: inline-block;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    vertical-align: top;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 350px;
}

.imagen-novedad{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.imagen-novedad img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.novedad p{
    text-align: left;
    max-width: auto;
    margin: 0;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}
/* Fin de novedades */


/* Inicio del footer */
footer{
    background-color: #fc5811;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.contenedor-footer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 50px 90px;
}

.mensaje-header h1{
    margin-left: 60px;
    margin-bottom: 40px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.info-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-left: 60px;
    width: 30%;
}

.contenedor-contacto{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;
    height: auto;
}

.icono-mensaje-ubicacion{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.info-email-ubicacion{
    text-align: start;
    white-space: nowrap;
}

.info-contacto-titulo{
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    margin-bottom: 0;
}

.info-contacto-subtitulo{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 0;
}

.info-mensaje-ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 2px;
}

.saludo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: auto;
    margin-left: auto;
    flex: 1;
    padding-top: 45px;
    padding-bottom: 70px;
}

.saludo div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.saludo p{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.boton-saludo{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.boton-saludo img{
    width: 150px;
    height: 150px;
}

.boton-saludo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.boton-saludo:hover img {
    transform: scale(1.2);
}

.saludo p{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.pie-pagina{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.pie-pagina p{
    margin: 0 100px;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.pie-pagina img{
    width: 12px;
    height: auto;
}
/* Fin del footer */

.separador-blanco-footer{
    border-top: 2px solid #fff;
    margin-left: 60px;
    margin-right: -70px;
    margin-bottom: 15px;
}

.separador-blanco-final{
    border-top: 2px solid #fff;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
}

img{
    width: 40px;
}

