/* *{
    margin: 0;
    padding: 0; 
} */

header{
    border: 1px solid red;
    background-color: #ffffff;
    font-family: 'Acuming Pro', Bold;
    font-weight: bold;
    font-size: 12px;
    color: #122140;
    text-align: center;
}

a{
    text-decoration-line: none;
}

.imagenFlecha{
    width: 12px;
}

main{
    border: 1px solid yellowgreen;
}

.hero{
    border: 1px solid blue;
    background-color: #efdfd2;
}

.nombreApellido{ 
    color: #fc540d;
    text-align: center;
}

.desarrolladorNombre{
    color: #030301;
    text-align: center;
}

.botonContratame{
    background-color: #fc540d;
    color: #fffdf4;
    border: none;
}

.info{
    text-align: right;
}

.servicios{
    border: 1px solid brown;
    background-color: #ffffff;
}

.skills{
    border: 1px solid black;
    background-color: #efdfd2;
}

.works{
    border: 1px solid black;
    background-color: #f4eae1;
    font-family: 'Courier New', Courier, monospace;
}

.reviews{
    border: 1px solid black;
    background-color: #ffffff;
}

.novedades{
    border: 1px solid black;
    background-color: #f4eae1;
}

footer{
    border: 1px solid black;
    background-color: #fc5811;
}

img{
    width: 40px;
}